@use 'variables' as v;

@media (max-width: 992px) {
    .nav-menu {
        .menu {
        flex-direction: row;
        justify-content: center;
        }
    }

    .navbar-toggler {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .current-page-title {
        background-color: v.$color-detalle;
        font-weight: 700;
        color: black;
        width: fit-content;
        text-align: center;
        font-size: 1.2rem;
        margin: 0.5rem auto 0 auto;
        padding: 0.3rem 0.5rem;
        border-radius: 0.3rem;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin-bottom: 0;
        padding-bottom: 0;
        gap: 0.8rem;
        width: 100%;
        box-sizing: border-box;
        background: linear-gradient(to bottom, #939393, #ededed);
    }

    .logo {
        height: 10vh;
        max-width: 100%;
        width: auto;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .AdeuStudios {
        font-size: clamp(2rem, 5vw, 4rem);
        text-align: center;
        margin: 0;
    }

    .banner-section {
        margin-top: 0;
        padding-top: 0;
    }

    .nav-menu {
        width: 100%;
        padding: 0;
        background: none;
        border: none;

        .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.7rem;
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;

        a {
            display: block;
            width: 100%;
            padding: 0.6rem;
            text-align: center;
            font-size: 1rem;
            border-radius: 0.5rem;
            color: black;
        }
        }
    }

    .servicios-section,
    .nuestro-trabajo {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 1rem;
        margin: 2rem;
        box-sizing: border-box;
        width: auto;
    }

    .servicios-title {
        padding: 0;
        font-size: 1.2rem;
        position: static;
    }

    .servicios-card,
    .nuestro-trabajo-card {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
    }

    .servicio,
    .trabajo-card {
        width: 100%;
        box-sizing: border-box;
        overflow-wrap: break-word;
        word-break: normal;
    }

    .derechos {
        font-size: 1rem;
    }
}