//Colores
$color-background: #ededed;
$color-detalle: #fab416;
$color-texto: black;
$color-texto-secundario: #4f4f4f;
$color-gris: #939393;
$color-card-bg: rgba(185,185,185,0.5);
$color-card-shadow: rgba(147,147,147,0.3);
$color-form-bg: #f9f9f9;
$color-form-shadow: rgba(0, 0, 0, 0.1);

//Fuentes
$fuente-principal: "poppins", sans-serif;

//Tamaños y estilos que se repiten
$border-radius-card: 1rem;
$box-shadow-card: 0 0 0.625rem rgba($color-gris, 0.3);





